.terms-and-conditions-container {
    text-align: center;
    overflow-y: scroll;
    height: 750px;
}

.terms-and-conditions-text {
    display: inline-grid;
    text-align: justify;
    width: 55%;
}