@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 1%;
}

.background-image-container {
    min-height: 750px;
    padding: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}