:root {
    --notification-animation-duration: 0s;
}

/* Display Break-Pints */
$breakpoints: (
    'huge':   ( min-width: 2561px ),
    'main':   ( min-width: 1441px ),
    'laptop': ( min-width: 769px ),
    'tablet': ( min-width: 426px ),
    'phone':  ( max-width: 425px ),
) !default;

/* Font Sizes */
$hugeFontSize: 42px;     // 2561 < max
$mainFontSize: 20px;     // 1441 < 2561
$laptopFontSize: 18px;   // 769  < 1440
$tabletFontSize: 16px;   // 426  < 768
$phoneFontSize: 14px;    // min  > 425

$mainShadow: 0 0.2em 1.2em 0.2em rgba($color: #000, $alpha: 0.2);
$secondaryShadow: 0 0 0.3em 0.1em rgba($color: #888, $alpha: 0.5);

/* Colors */
$mainGreenColor: #4caf50;
$mainBlueColor: #0083ff;
$mainRedColor: #f4511e;

/* Font Colors */
$mainFontColor: #222;
$secondaryFontColor: #f0f0f0;

/* Background Colors */
$mainDarkColor: #3a3a3a;
$mainDarkLighten: lighten($mainDarkColor, 5%);
$mainDarkHightLighten: lighten($mainDarkColor, 40%);
$secondaryDarkColor: #b0b0b0;
$secondaryDarkLighten: lighten($secondaryDarkColor, 5%);

/* Notifications */
$mainSuccessColor: $mainGreenColor;
$mainSuccessDarken: darken($mainSuccessColor, 5%);
$mainInfoColor: $mainBlueColor;
$mainInfoDarken: darken($mainInfoColor, 10%);
$mainErrorColor: $mainRedColor;
$mainErrorDarken: darken($mainErrorColor, 15%);

/* Link Color */
$mainLinkColor: $mainBlueColor;
$mainLinkDarken: darken($mainLinkColor, 20%);

/* Buttons Color */
$mainButtonSuccessColor: $mainGreenColor;
$mainButtonSuccessDarken: darken($mainButtonSuccessColor, 5%);
$mainButtonErrorColor: $mainRedColor;
$mainButtonErrorDarken: darken($mainButtonErrorColor, 5%);

// TODO need updating
$itemCardBuy: #5a5;
$itemCardLightenBuy: #8a8;
$itemCardSell: #a55;
$itemCardLightenSell: #a88;
$itemCardEquip: #55a;
$itemCardLightenEquip: #88a;
$itemCardRemove: #333;
$itemCardLightenRemove: #ddd;
    

