// 1 - UTILITIES
@import '1-utilities/variables';
@import '1-utilities/functions';
@import '1-utilities/mixins';
@import '1-utilities/helpers';

// 2 - VENDORS

// 3 - BASICS
@import '3-basics/reset';
@import '3-basics/typography';
@import '3-basics/basic';
@import '3-basics/buttons';
@import '3-basics/links';
@import '3-basics/animations';
@import '3-basics/transitions';

// 4 - LAYOUT
@import '4-layouts/layout';
@import '4-layouts/header';
@import '4-layouts/footer';
@import '4-layouts/option-bar';
@import '4-layouts/forms';

// 5 - MODULES
@import '5-components/title';
@import '5-components/info';
@import '5-components/logo';
@import '5-components/modal';

// 6 - PAGES
@import '6-pages/logout';
@import '6-pages/home';
@import '6-pages/about';
@import '6-pages/profile';
@import './6-pages/404';

// TODO
@import './terms-and-conditions.css';
@import './delete-meme.css';
@import './meme-card.css';
@import './logout.css';
@import './house-of-fame.css';
@import './house-of-fame-card.css';
@import './main.css';
@import './meme-card.css';
@import './list-card.css';
@import './profile.css';

.app-container {
    display: grid;
    grid-template-rows: 50px auto 70px;
    grid-template-areas: 'header' 'main' 'footer';
    height: 100vh;
}

.main-container.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.active-button {
    text-decoration: none;
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    opacity: 0.9;
    border-radius: 25px;
    font-size: 20px;
    width: 40%;
    cursor: pointer;
}

.active-button:hover {
    background-color: green;
}
