.memes-list-container {
    padding: 0;

    .meme-card {
        // max-width: 40%;
        // margin: 80px auto;
        // text-align: center;
        box-shadow: $mainShadow;

        &-header {
        }

        &-buttons {
            margin: 10px 0;
        }

        &-image {
            &-wrapper {
                &::before {
                    display: block;
                    content: '';
                }

                img {
                }
            }
        }
    }
}

.meme-card-button {
    border: none;
    outline: 0;
    padding: 12px;
    width: 20%;
    color: white;
    background-color: #555;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.meme-card-button:hover {
    background-color: #333;
}

.meme-card-button.delete {
    background-color: #f4511e;
}

.meme-card-button.delete:hover {
    background-color: red;
}

.meme-card-button.edit {
    background-color: #4caf50;
}

.meme-card-button.edit:hover {
    background-color: green;
}

// delete meme
.form-action-btn.delete {
    background-color: #f4511e;
}
