.main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 10%;
}

.main-footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.footer-nav-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer-nav-button:hover {
    text-decoration: underline;
}

.copy-write {
    font-size: 20px;
    float: left;
}

.footer-nav {
    list-style: none;
    float: right;
}

.footer-nav li {
    float: left;
}

.footer-nav li+li {
    margin-left: 15px;
}