.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
}

.main-footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.footer-nav-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer-nav-button:hover {
    text-decoration: underline;
}

.copy-write {
    margin-left: 3rem;
    /* font-size: 20px; */
    float: left;
}

.footer-nav {
    float: right;
    margin-right: 3rem;
    list-style: none;
}

.footer-nav li {
    float: left;
}

.footer-nav li+li {
    margin-left: 15px;
}