.tile {
    display: table-cell;
    background-color: green;
}

.grass {
    background-color: green;
}

.final {
    background-image: url(./tiles/final.png);
}

.treasure-gold {
    background-image: url(./tiles/treasure_gold.png);
}

.treasure-item {
    background-image: url(./tiles/treasure_item.png);
}

.stone {
    background-image: url(./tiles/stone.png);
}

.snow-rock {
    background-image: url(./tiles/snow_rock.png);
}

.tree {
    background-image: url(./tiles/tree.png);
}

.pine-tree {
    background-image: url(./tiles/pine_tree.png)
}

.apple-tree {
    background-image: url(./tiles/apple_tree.png)
}

.oak-tree {
    background-image: url(./tiles/oak_tree.png)
}