.tile {
    display: table-cell;
}

.grass {
    background-color: green;
}

.rock {
    background-image: url('/client/public/tiles/snow_rock.png');
}

.tree {
    background-image: url('/client/public/tiles/pine_tree.png');
}