.tile {
    display: table-cell;
    background-color: green;
}

.final {
    background-color: yellow;
}

.grass {
    background-color: green;
}

.rock {
    background-image: url(./tiles/snow_rock.png);
}

.tree {
    background-image: url(./tiles/tree.png);
}

.treasure-gold {
    background-image: url(./tiles/treasure_gold.png);
}

.treasure-item {
    background-image: url(./tiles/treasure_item.png);
}