.site-footer {
    background-color: $mainDarkColor;

    p,
    ul {
        padding: 0;
    }

    .site-wrapper {
        padding: 0.5em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondaryFontColor;

        .copy-write {}

        .footer-nav {
            display: flex;

            li + li {
                margin-left: 0.5em;
            }
        }
    }
}
