.form-div-container {
    height: 95px;
    
    .form-input[type=text], input[type=password] {
        width: 25%;
        padding: 15px;
        margin: 5px 0 5px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
    .form-input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    .form-input-error {
        color: white;
        background-color: #f4511e;
    }
}