.form-container {
    text-align: center;

    .form-header {
        margin: 0.8em 0 3em 0;
    }

    .form-fields-wrapper {
        margin: 0 auto;
        width: 60%;
    }

    .form-field {
        margin-bottom: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        label {
            margin-right: 1em;
            display: flex;
            flex: 0 1 20%;
            text-align: right;
            justify-content: flex-end;
            align-items: center;

            span {
                font-weight: 700;
                opacity: 0.8;
            }
        }

        input[type='text'],
        input[type='email'],
        input[type='password'] {
            padding: 0.5em 1em;
            flex: 0 1 40%;
            background-color: #f0f0f0;
            border: 0.15em solid transparent;
            border-radius: 0.3em;
            opacity: 0.9;
            overflow: hidden;

            &:hover,
            &:focus {
                background-color: #ddd;
                border-color: #eee;
                outline: none;
            }
        }

        .form-error-container,
        .form-error-message {
            margin-top: 0.5em;
            flex-basis: 100%;
            color: #f0f0f0;
            background-color: $errorColor;
            border-radius: 0.3em;
            font-weight: 700;
            overflow: hidden;
        }

        .form-error-container {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }

    .form-field-actions {
        margin: 1em 0;

        .terms-conditions,
        .subscribe {
            display: flex;
            justify-content: center;

            span {
                margin-right: 0.4em;
            }

            label {
                margin-left: 0.3em;
            }
        }

        .terms-conditions {
            margin-bottom: 0.5em;
        }

        .subscribe {
            input[type='checkbox'],
            label {
                cursor: pointer;
            }

            input[type='checkbox'] {
                width: 1em;
                height: 1em;
                align-self: center;
            }
        }
    }

    .form-field-buttons {
        margin: 1.5em 0;
        display: flex;
        justify-content: center;

        input[type='submit'],
        input[type='reset'] {
            text-transform: capitalize;
            flex-basis: 15%;
        }

        input + input {
            margin-left: 2em;
        }
    }

    .info-container {
        margin-bottom: 1em;

        span {
            margin-right: 0.4em;
        }
    }
}
