.site-header {
    background-color: $mainDarkColor;

    .site-navigation {
        ul,
        li {
            display: flex;
        }

        ul {
            justify-content: space-between;
        }
    }
}
