.options-bar {
    background-color: $mainDarkLighten;

    ul,
    li {
        padding: 0;
        display: flex;
    }

    li {
        flex: 1 1 calc(100% / 6);

        button {
            flex-basis: 100%;
        }
    }
}
