button {
    line-height: 0;
    background: none;
    color: $secondaryFontColor;
    outline: none;
    border: none;
    cursor: pointer;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.site-header .nav-bar-button {
    padding: 1em 1.2em;
    font-size: 1.2em;

    &.active {
        background-color: $mainButtonColor;

        &:focus,
        &:hover {
            background-color: $mainButtonDarken;
        }
    }

    &:focus,
    &:hover {
        color: $mainFontColor;
        background-color: $mainDarkHightLighten;
    }
}

.options-bar .options-bar-button {
    padding: 1em 0;
    font-size: 0.8em;

    &:hover,
    &:active {
        color: $mainFontColor;
        background-color: $mainDarkHightLighten;
    }
}

.site-footer .footer-nav-button {
    padding: 0.8em 0.5em;
}

.error-container .info-action-btn,
.form-container .form-action-btn {
    border: 0.2rem solid transparent;
    border-radius: 1.5rem;
    background-color: $mainButtonColor;
    color: $secondaryFontColor;
    font-weight: 700;

    &:focus,
    &:hover {
        border-color: $mainButtonColor;
        background-color: $secondaryFontColor;
        color: $mainButtonColor;
    }

    .info-button {
    }
}

.info-component .info-action-btn {
    color: $mainLinkColor;
}
