button {
    line-height: 0;
}

.form-action-btn {
    padding: 0.75rem 1.5rem;
    border: 0.1rem solid transparent;
    border-radius: 1.5rem;
    background-color: $mainButtonColor;
    color: $secondaryFontColor;
    font-size: 1.2em;
    font-weight: 700;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
        border-color: $mainButtonColor;
        background-color: $secondaryFontColor;
        color: $mainButtonColor;
    }
}
