button {
    background: none;
    color: $secondaryFontColor;
    outline: none;
    border: none;
    cursor: pointer;

    &:focus,
    &:hover {
        text-decoration: underline;
        color: $mainFontColor;
        background-color: $mainDarkHightLighten;
    }
}

// Header Buttons
.site-header .nav-bar-button {
    padding: 1em 1.2em;
    line-height: 0;
    font-size: 1.2em;

    &.active {
        background-color: $mainButtonSuccessColor;

        &:focus,
        &:hover {
            background-color: $mainButtonSuccessDarken;
        }
    }
}

// Option Buttons
.options-bar .options-bar-button {
    padding: 1em 0;
    line-height: 0;
    font-size: 0.8em;
}

// Info Component Buttons
.info-component .info-action-btn {
    color: $mainLinkColor;

    &:hover,
    &:focus {
        color: $mainLinkDarken;
    }
}

// Footer Buttons
.site-footer .footer-nav-button {
    padding: 0.8em 0.5em;
    line-height: 0;

    &:hover,
    &:focus {
        color: $secondaryFontColor;
        background-color: transparent;
    }
}

// Form Buttons
.component-data .social-action-btn,
.form-component .form-action-btn {
    border: 0.2rem solid transparent;
    border-radius: 1.5rem;
    background-color: $mainButtonSuccessColor;
    color: $secondaryFontColor;
    font-weight: 700;

    &:focus,
    &:hover {
        border-color: $mainButtonSuccessColor;
        background-color: $secondaryFontColor;
        color: $mainButtonSuccessColor;
    }
}

// Logout Buttons
.logout-action-btn {
    width: 6em;
    line-height: 1.5;
    border-radius: 0.2em;
    background-color: $mainButtonSuccessColor;
    font-size: 2em;
    transition: all 0.5s;

    span {
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -2em;
            transition: 0.5s;
        }
    }

    &:focus,
    &:hover {
        span {
            padding-right: 1em;
            text-decoration: none;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

// MEME
.meme-card-button {
    border: none;
    outline: 0;
    padding: 12px;
    min-width: fit-content;
    color: white;
    background-color: #555;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.meme-card-button:hover {
    background-color: #333;
}

.meme-card-button.delete {
    background-color: #f4511e;
}

.meme-card-button.delete:hover {
    background-color: red;
}

.meme-card-button.edit {
    background-color: #4caf50;
}

.meme-card-button.edit:hover {
    background-color: green;
}

// delete meme
.form-action-btn.delete {
    background-color: #f4511e;
}
// MEME
