a {
    text-decoration: none;
    color: $mainLinkColor;
    cursor: pointer;
}

.footer-nav-button {
    color: $secondaryFontColor;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}
