.info-component {
    padding: 0.5em 0 1.5em 0;
    background-color: $secondaryFontColor;
    display: flex;
    justify-content: center;

    span {
        margin-right: 0.5em;
    }

    .info-action-btn {
        color: $mainLinkColor;

        &:hover,
        &:focus {
            color: $mainLinkDarken;
            text-decoration: underline;
        }
    }
}

.home-component.background-image,
.about-component.background-image {
    .info-component {
        text-shadow: 0.1em 0.1em rgba($color: #000, $alpha: 0.2);
        font-weight: 700;
        background-color: transparent;
    }
}
