.memes-list-container {
    padding: 0;

    .meme-card {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: $mainShadow;

        &-header {
            margin-bottom: 1em;
            padding-top: 1em;
            text-align: center;
            border-bottom: 1px solid black;
        }

        &-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &-image {
            max-width: 50em;
            padding: 1em;

            &-wrapper {
                position: relative;
                border: 0.2em solid black;

                &::before {
                    display: block;
                    content: '';
                }

                img {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .meme-orientation-portrait {
                    width: auto;
                    height: 100%;
                }

                .meme-orientation-landscape {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
