.notification {
    width: 20em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 4em;
    right: 2.5em;
    border: 2px solid blue;

    li {
        flex: 0 0 100%;

        & > p {
            padding: 2em;
            color: #fff;
            background: #000;
            display: inline-flex;
        }

        & > button {
            color: #000;
            background-color: firebrick;
        }

        .progress-bar {
            height: 1em;
            position: relative;
            background: #fff;

            .bar {
                background: #369;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                animation-name: barAnimation;
                animation-duration: var(--notification-animation-duration);
                animation-timing-function: linear;
            }
        }
    }
}

@keyframes barAnimation {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}
