$scrollbarWidth: 0.25em;
$scrollNotificationThumbColor: #bbb;
$notificationsMargin: 0.3em;
$borderRadius: 0.2em;

.scroll-notification {
    background: transparent;

    &::-webkit-scrollbar {
        width: $scrollbarWidth;
        height: $scrollbarWidth;
    }

    &::-webkit-scrollbar-track {
        background: #cfd8dc;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.2em;
        background-color: $scrollNotificationThumbColor;
        border: 0.2em solid $scrollNotificationThumbColor;
    }
}

.notifications-list.scroll-notification {
    padding: 0;
    overflow-y: scroll;

    li.notification {
        margin: $notificationsMargin 0 $notificationsMargin $notificationsMargin;
        border-radius: 0;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}

.notifications-list {
    width: 20em;
    max-height: 20em;
    padding: 0;
    padding-right: $scrollbarWidth;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 4em;
    right: 2.5em;
    background-color: transparent;
    overflow: hidden;
    
    li.isClick {
        display: none;
    }
    
    li {
        box-shadow: 0 0 0.3em 0.1em rgba($color: #888, $alpha: 0.5);
        margin: $notificationsMargin;
        padding: 0.5em;
        flex-basis: 100%;
        border: 0.2em solid transparent;
        border-radius: $borderRadius;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        & > p {
            flex-basis: 100%;
            color: $secondaryFontColor;
            font-weight: 700;
        }

        & > button {
            flex-basis: 100%;
        }

        .progress-bar {
            margin: 0.5em 0;
            flex-basis: 100%;
            height: 30px;
            position: relative;
            background-color: var(--notification-bar-color-secondary);
            border: 0.3em solid transparent;

            .bar {
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: 0;
                background-color: var(--notification-bar-color-main);
                animation-name: barAnimation;
                animation-duration: var(--notification-animation-duration);
                animation-timing-function: linear;
            }
        }
    }

    .notification-success {
        background-color: $mainSuccessColor;

        .progress-bar {
            border-color: $mainSuccessDarken;
        }
    }

    .notification-info {
        background-color: $mainInfoColor;

        .progress-bar {
            border-color: $mainInfoDarken;
        }
    }

    .notification-error {
        background-color: $mainErrorColor;

        .progress-bar {
            border-color: $mainErrorDarken;
        }
    }
}

@keyframes barAnimation {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}
