$notificationsMargin: 0.3em;
$borderRadius: 0.3em;
$scrollbarWidth: 0.3em;
$scrollNotificationThumbColor: #aaa;

.notifications-list {
    width: 25em;
    max-height: 10.5em;
    padding: 0;
    padding-right: $scrollbarWidth;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 3em;
    right: 1em;
    background-color: transparent;
    overflow: hidden;

    li.isClick {
        display: none;
    }

    li {
        margin: $notificationsMargin;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: $borderRadius;
        box-shadow: $secondaryShadow;
        overflow: hidden;

        .notification-wrapper {
            padding: 0.5em;
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            color: #fff;

            .notification-icon-wrapper {
                flex-basis: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                }
            }

            .notification-text {
                flex-basis: 60%;

                h5 {
                }

                p {
                    padding: 0;
                }
            }

            .notification-button-wrapper {
                flex-basis: 10%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
            }
        }

        .notification-bar {
            flex-basis: 100%;
            height: 0.5em;
            position: relative;

            .bar {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                animation-name: barAnimation;
                animation-duration: var(--notification-animation-duration);
                animation-timing-function: linear;
            }
        }
    }

    .notification-success {
        background-color: $mainSuccessColor;

        .notification-bar .bar {
            background-color: $mainSuccessDarken;
        }
    }

    .notification-info {
        background-color: $mainInfoColor;

        .notification-bar .bar {
            background-color: $mainInfoDarken;
        }
    }

    .notification-error {
        background-color: $mainErrorColor;

        .notification-bar .bar {
            background-color: $mainErrorDarken;
        }
    }
}

.notifications-list.scroll-notification {
    padding: 0;
    overflow-y: scroll;

    li.notification {
        margin: $notificationsMargin 0 $notificationsMargin $notificationsMargin;
        border-radius: 0;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}

.scroll-notification {
    &::-webkit-scrollbar {
        width: $scrollbarWidth;
        height: $scrollbarWidth;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.2em;
        background-color: $scrollNotificationThumbColor;
        border: 0.2em solid $scrollNotificationThumbColor;
    }
}

@keyframes barAnimation {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}
