.overlay-container-wrapper {
    position: absolute;
    // TODO after reworking the game this should be changed
    top: 1.6em;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay-container {
    width: 22em;
    padding: 2em;
    background: $mainDarkColor;
    border-radius: 2em;
    color: $secondaryFontColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    header {
        margin-bottom: 1.5em;
        text-align: center;

        h2 {
            margin: 0;
            line-height: 1.4;

            &::after {
                width: 40%;
                margin: 0 auto;
                padding-top: 0.1em;
                display: block;
                content: '';
                background-color: $secondaryFontColor;
            }
        }
    }

    p {}

    .overlay-buttons-wrapper {
        display: flex;
        justify-content: space-around;
    }
}
