.main-container.error-container {
    background-image: linear-gradient(125deg, #6a89cc, #b8e994);
    width: 100%;
    top: 50%;
    text-align: center;
    color: #343434;
}

.main-container.error-container h2 {
    font-size: 180px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}

.active-button[name="404"] {
    width: 25%;
}