.overlay-container {
    width: 36vh;
    height: 22vh;
    position: absolute;
    z-index: 99;
    color: white;
    background: #333;
    border-radius: 25px;
}

.overlay-container button {
    margin: 5px;
}

.form-action-btn.home {
    background-color: #f4511e;
}